pre {
  position: relative;
  box-sizing: border-box;
  white-space: pre-wrap;
  word-break: break-word;
}

pre code {
  display: block;
  box-sizing: border-box;
  padding-left: 1rem;
  width: calc(100% - 2.5rem);
  line-height: 17px;
  word-spacing: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

pre code * {
  transition: color 0.5s;
}

pre code .line {
  display: inline-block;
  box-sizing: border-box;
  z-index: 1;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 1px;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  height: 20px;
  width: 100%;
  color: #222;
  white-space: pre;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  transition-property: background-color, border-radius, color;
  transition-duration: 0.5s, 0s, 0.5s;
  transition-delay: 0s, 0.5s, 0s;
}

pre code .line:hover {
  color: black;
}

pre code .line:target {
  z-index: 0;
  margin-top: -5rem;
  padding-top: 5rem;
  padding-top: calc(5rem + 0.15rem);
}

pre code .line.highlighted, pre code .line:target {
  background: #de7737;
  transition-delay: 0s, 0s, 0s;
}

pre code .line.start {
  border-radius: .5em .5em 0 0;
}

pre code .line.end {
  border-radius: 0 0 .5em .5em;
}

pre code .line.start.end, pre code .line:target {
  border-radius: .5em;
}

.codefilelisting {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 100ch;
  margin-top: 3em;
}

@media (max-width: 40rem) {
  .codefilelisting {
    margin-left: 0;
  }
}

.codefilelisting pre code {
  font-size: 1rem;
}

.terminal .line {
  position: relative;
  padding-left: 1em;
}

.terminal .line::before, .terminal .line:target::before {
  content: '$';
  position: absolute;
  left: 0;
  opacity: .7;
  margin-right: 1em;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.terminal.root .line::before {
  content: '#';
}

.codefile {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 40rem;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.8em;
  margin-bottom: 2.5em;
}

@media (max-width: 40rem) {
  .codefile {
    margin-left: 0;
  }
}

.codefile + .codeexplain {
  margin-top: -1.5em;
  margin-bottom: 1.5em;
}

.codefile .l-action {
  margin-left: 0.8rem;
  margin-top: 0.7em;
}

.codefile .l-action .icon {
  height: 1em;
}

.codefile .path {
  -webkit-box-flex: 1;
          flex: 1 0;
  margin-top: 0.7em;
  padding-left: 3.7rem;
}

.codefile .path .icon {
  -webkit-box-align: end;
          align-items: flex-end;
}

.codefile .path .icon {
  width: 1.8rem;
}

.codefile pre {
  min-width: 100%;
}

.line-numbers {
  counter-reset: linenumber;
}

.line-numbers code {
  border-left: 1px solid #999;
  margin-left: 2.5rem;
  padding-left: 0.8rem;
}

.line-numbers .line {
  counter-increment: linenumber;
}

.line-numbers .line::before, .line-numbers .line:target::before {
  transition: color 0.125s;
  content: counter(linenumber);
  position: absolute;
  left: 0;
  margin-right: 0.7rem;
  width: 1.8rem;
  text-align: right;
  color: #999;
  font-size: 90%;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.line-numbers .line:hover::before {
  color: #4d4d4d;
}

.codeexplain {
  padding-left: 2em;
  padding-right: 2em;
  font-size: .9em;
}

.codeexplain summary {
  transition-property: color, fill;
  transition-duration: 0.5s;
  margin-left: -1em;
  color: #083568;
  fill: #083568;
}

.codeexplain summary:hover {
  color: #031121;
  fill: #031121;
}

.codeexplain p:first-of-type,
.codeexplain .pause {
  margin-top: .3em;
}

.lineexplanation {
  padding-left: 1.3em;
  text-indent: -1.3em;
}

.token.comment {
  display: inline-block;
}

.token.comment .line {
  color: #555;
}

.token.comment .line:hover {
  color: #2f2f2f;
}

.token.comment .line:hover::-moz-selection {
  color: #555;
}

.token.comment .line:hover::selection {
  color: #555;
}

.token.prolog,
.token.doctype,
.token.cdata {
  color: #555;
}

.line:hover .token.prolog, .line:hover
.token.doctype, .line:hover
.token.cdata {
  color: #2f2f2f;
}

.token.prolog::-moz-selection,
.token.doctype::-moz-selection,
.token.cdata::-moz-selection {
  color: #555;
}

.token.prolog::selection,
.token.doctype::selection,
.token.cdata::selection {
  color: #555;
}

.token.punctuation {
  color: #555;
}

.line:hover .token.punctuation {
  color: #2f2f2f;
}

.token.punctuation::-moz-selection {
  color: #555;
}

.token.punctuation::selection {
  color: #555;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #258800;
}

.line:hover .token.property, .line:hover
.token.tag, .line:hover
.token.boolean, .line:hover
.token.number, .line:hover
.token.constant, .line:hover
.token.symbol, .line:hover
.token.deleted {
  color: #103c00;
}

.token.property::-moz-selection,
.token.tag::-moz-selection,
.token.boolean::-moz-selection,
.token.number::-moz-selection,
.token.constant::-moz-selection,
.token.symbol::-moz-selection,
.token.deleted::-moz-selection {
  color: #258800;
}

.token.property::selection,
.token.tag::selection,
.token.boolean::selection,
.token.number::selection,
.token.constant::selection,
.token.symbol::selection,
.token.deleted::selection {
  color: #258800;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #258800;
}

.line:hover .token.selector, .line:hover
.token.attr-name, .line:hover
.token.string, .line:hover
.token.char, .line:hover
.token.builtin, .line:hover
.token.inserted {
  color: #103c00;
}

.token.selector::-moz-selection,
.token.attr-name::-moz-selection,
.token.string::-moz-selection,
.token.char::-moz-selection,
.token.builtin::-moz-selection,
.token.inserted::-moz-selection {
  color: #258800;
}

.token.selector::selection,
.token.attr-name::selection,
.token.string::selection,
.token.char::selection,
.token.builtin::selection,
.token.inserted::selection {
  color: #258800;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
}

.line:hover .token.operator, .line:hover
.token.entity, .line:hover
.token.url, .line:hover
.language-css .token.string, .line:hover
.style .token.string {
  color: #74593e;
}

.token.operator::-moz-selection,
.token.entity::-moz-selection,
.token.url::-moz-selection,
.language-css .token.string::-moz-selection,
.style .token.string::-moz-selection {
  color: #a67f59;
}

.token.operator::selection,
.token.entity::selection,
.token.url::selection,
.language-css .token.string::selection,
.style .token.string::selection {
  color: #a67f59;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #083568;
}

.line:hover .token.atrule, .line:hover
.token.attr-value, .line:hover
.token.keyword {
  color: #031121;
}

.token.atrule::-moz-selection,
.token.attr-value::-moz-selection,
.token.keyword::-moz-selection {
  color: #083568;
}

.token.atrule::selection,
.token.attr-value::selection,
.token.keyword::selection {
  color: #083568;
}

.token.function {
  color: #960018;
}

.line:hover .token.function {
  color: #4a000c;
}

.token.function::-moz-selection {
  color: #960018;
}

.token.function::selection {
  color: #960018;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.line:hover .token.regex, .line:hover
.token.important, .line:hover
.token.variable {
  color: #a26800;
}

.token.regex::-moz-selection,
.token.important::-moz-selection,
.token.variable::-moz-selection {
  color: #e90;
}

.token.regex::selection,
.token.important::selection,
.token.variable::selection {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
